article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

html{
    font-size: 10px;
}

body{
    background: linear-gradient(to right, #2D7D9A, #9A7AA0);
}


:root{
    --primary:#2D7D9A;
    --secondary:#D5DFE5;
    --accent:#904E55;
    --black:#262626;
    --grey:#646464;
}

h1{
    text-align: center;
    color:var(--black);
    font: bold 7rem 'Sriracha', cursive;
    margin-bottom: 4rem;
}

/* Categories */

.library{
    color: var(--secondary);
    display: grid;
    width: 80%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    grid-template-columns: 3fr 3fr 3fr 3fr 1fr ;
    justify-items: center;
    align-items: center;
    grid-auto-rows: auto;
}

.library--categories,
.book--row li{
    padding: 10px 0;
    width: 100%;
    text-align: center;
    height: 100%;
    border-left: 1px solid var(--grey);
}

.library--categories{
    border-bottom: 2px solid var(--grey);
    font-weight: bold;
    font-size: 2.6rem;
}

.library .library--categories:first-of-type,
.book--row li:first-of-type{
    border-left: none;
}

.library--button{
    font-size: 2rem;
    background: var(--accent);
    border: none;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    color: white;
    border-radius: 5px;
    margin: 5px 0;
}

/* Book rows */

.library--list{
    display: grid;
    grid-column: 1 / -1;
    width: 100%;
}

.book--row{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr 1fr ;
    align-items: center;
    justify-items: center;
    list-style-type: none;
    text-transform: capitalize;
    padding: 0;
    font-weight: normal;
    margin: 0;
}

.book--row li{
    border-bottom: 1px solid var(--grey);
    border-left: 1px solid var(--grey);
    font-size: 2.2rem;
}


.book--row li{
    height: 100%;
    overflow: hidden;
}

.book--button{
    height: 100%;
    vertical-align: middle;
    border: none;
}

.book--button__read{
    background: white;
    font-size: 1.8rem;
    border: none;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    color: var(--primary);
    border-radius: 5px;
}

.book--button__delete{
    background-image: url("trash.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image:url("trash.svg");
    border-radius: 3px;
}

.addBook--form{
    position: absolute;
    top:-100%;
    left: -100%;
}

.displayForm{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: var(--accent);
    color: white;
    border-radius: 5px;
    padding: 4.5rem 3rem;
    border:4px solid var(--accent);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.8);
    
}

.addBook--form ul{
    padding: 0;
    list-style-type: none;
    font-size: 2.5rem;
    margin: 0;
}

.addBook--form ul li{
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 3fr;
    padding-bottom: 10px;
}

.addBook--form li input,
.addBook--form li select{
    height: 100%;
    text-align: left;
    justify-self: start;
}

.addBook--button{
    font-size: 2rem;
    background: var(--primary);
    border: none;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    color: white;
    border-radius: 5px;
}

@media screen and (max-width: 800px){
    .addBook--form ul li{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 600px){
    html{
        font-size: 7px;
    }
}